##################################################################################
# Whenever you add environment variables, please update the `.env.example` file. #
#                                                                                #
# Add your OpenAI API key if you need to compute ground-truth selectivity,       #
# e.g. when writing or developing new semantic queries.                          #
##################################################################################

OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx